<mat-card>
       <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Temperatures</mat-card-title>
         <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
         <button mat-button (click)="addlikes()">LIKE</button><span *ngIf ="likes!=0">{{likes}}</span>
          <button mat-button>SHARE</button>
        <p *ngIf = "!hasError" >the Temperatures in: {{city}} is: {{temp |number:'1.0-0'}}º</p>
        <p *ngIf = "hasError">{{errorMessage}}</p>
        <a mat-list-item href="tempform" routerLinkActive="active">Update Temperatures</a>

        </mat-card-actions>
</mat-card>