<mat-card>
<form #tempForm= ngForm (ngSubmit) = "onSubmit()">
    <h2>Choose City</h2>
    <mat-form-field>
  <mat-label></mat-label>
  <mat-select [(ngModel)] = "cityInput" name="cityInput">
    <mat-option *ngFor="let city of cityOp" [value]="city.name">
      {{city.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<h2>Update Temperature</h2>
    <input [(ngModel)]="tempInput" name="tempInput"
    required
     #temp = "ngModel">
     <mat-error *ngIf="!(temp.valid || temp.pristine)">
        Temperature is required
    </mat-error>
  <div>
    
  <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid">Submit</button>
</div>
</form>
</mat-card>